* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

h1 {
    text-align: center;
    margin: 20px 0 -20px 0;
    font-weight: 300;
}

.grid-wrap {
    height: 600px;
    width: 600px;
}

#container {
    top: 30px;
    font-size: 0;
    margin: 30px auto;
    height: 600px;
    width: 600px;
    padding: 0;
    border: aqua solid 1px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.grid {
    float: left;
    margin: 0;
	padding: 0;
	border: none;
    border-radius: 5px;
    opacity: 0;
    background-color: black;
}

.btn-wrap {
    margin: 20px auto;
    width: 250px;
}

#reset {
    margin-top: 50px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: aqua;
    border-color: lightgray;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#reset:focus {
    outline: none;
}

#dance {
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: aqua;
    border-color: lightgray;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#dance:focus {
    outline: none;
}

.grid-size {
    justify-content: center;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    margin-top: -10px;
    background: none;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer > p {
    margin-bottom: 10px;
}

footer > p > a {
    color: dodgerblue;
}

.rainbow {
    background: repeating-linear-gradient(-45deg,red 0%, yellow 7.14%, rgb(0,255,0) 14.28%, rgb(0,255,255) 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
	background-size: 600vw 600vw;
	-webkit-animation: 'slide' 3s infinite linear forwards;
}

.blue {
    background-color: beige;
}


@keyframes slide{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}
